{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
    {%block content%}
        <main>
            <div>
                <h1>Login</h1>
                <form method="post">
                    {%csrf_token%} {{ form.as_p }} {% comment %}
        <input type="text" , name="username" />
        <input type="password" , name="password" /> {% endcomment %}
                    <div>
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </main>
    {%endblock content%}
</html>
