{%extends 'base.html'%} {% load markdownify %}
<!DOCTYPE html>
{%block content%}
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task'%}">Create a new task</a>
            </p>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {%for abc in project.tasks.all%}
                        <tbody>
                            <tr>
                                <td>{{abc.name}}</td>
                                <td>{{abc.assignee}}</td>
                                <td>{{abc.start_date}}</td>
                                <td>{{abc.due_date}}</td>
                                <td>{{abc.is_completed}}</td>
                            </tr>
                        </tbody>
                        </table>
                        </div>
                    {%empty%}
                        <p>This project has no tasks</p>
                    {%endfor%}
                </div>
            </main>
{%endblock content%}
