{%extends 'base.html'%}
<!DOCTYPE html>
{%block content%}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project'%}">Create a new project</a>
            </p>
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for xyz in project_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' xyz.pk %}">{{xyz}}</a>
                        </td>
                        <td>{{xyz.tasks.all|length}}</td>
                    </tr>
                    </table>
                    </div>
                {% empty %}
                    <div>
                        <p>You are not assigned to any projects</p>
                    </div>
                {% endfor %}
            </main>
{%endblock content%}
